# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Java
*.class
*.jar
*.war
*.ear
target/

# Maven
.mvn/wrapper/maven-wrapper.jar

# React / Node
frontend/node_modules/
node_modules/

# Environment files
.env
*.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db